.fade-enter {
  opacity: 0;
  /* 現われる最初の状態 */
}

.fade-enter-active {
  transition: opacity 0.5s;
  /* 現われる時のトランジションの状態 */
}

.fade-enter-to {
  opacity: 1;
  /* 現われる時の最後の状態 */
}

.fade-leave {
  opacity: 1;

}

.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-leave-to {
  opacity: 0;
}